@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orbitron&display=swap');


body{
    background-color: rgb(37, 38, 38);
    margin: 0;
}

header{
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
}

.elevators-body{
    background-color: rgb(230, 228, 228);
    border: 8px solid rgb(230, 228, 228);
    border-radius: 4px;
}

.elevator {
    position: relative;
    margin: 0 8px;
    background-color: #afafaf;
    width: 50px;
    height: 450px;
    top: 0px;
    border-radius: 8px;
}

.elevador {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 50%;
}

.elevador img {
    max-width: 100%;
    height: 100%;
}

.botoes-elevador {
    background-color: #454545;
    border-radius: 10px;
    box-shadow: 4px 7px 8px 10px rgba(0, 0, 0, 0.1);
}

.andares {
    height: 50px;
    width: 90px;
}


.button {
    border: none;
    border-radius: 50%;
    background-color: #00636600;
    height: 15px;
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: #b1e2ff;
    border: 1px;
}

.elevator-btn img {
    max-width: 100%;
    height: 100%;
}

.subir img {
    max-width: 150%;
    height: 100%;
}

.subir {
    justify-content: center;
    align-items: center;
    display: flex;
}

.floor-number-container {
    background-color: #191a1b;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    margin-right: 10px;
    margin-left: 3px;
}

.floor-number-label {
    font-size: 15px;
    color: rgb(66, 239, 103);
    font-family: 'Orbitron', sans-serif;
}