@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    background-image: url(./img/cenario.jpg);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 8em;

}

#dynamicCompartment {
    position: relative;
    height: 429.6px;
    margin: 25px 0 25px 0;
    padding: 0;
}

.elevator {
    position: relative;
    margin: 0 8px;
    background-color: #191a1b;
    width: 50px;
    height: 780px;
    top: 0px;
    text-align: center;
    font-size: 24pt;
}

.compartment {
    position: absolute;
    bottom: 0px;
    background-color: #40474b;
    height: 87px;
    font-size: 12pt;
    color: #ffffff;
    font-weight: 500;
    overflow: hidden;
    width: 50%;
}


.compartment>div {
    position: relative;
    top: -340px;
}

.compartment>div>div {
    position: relative;
    height: 85px;
}

#upDownButtons {
    position: relative;
    height: 500px;
    padding: 0;
    margin: 0;
}

.floor-buttons {
    height: 85px;
}

.span-floor {
    margin-left: 50px;
    color: white;
}

.button {
    border: none;
    border-radius: 50%;
    background-color: #006266;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: #b1e2ff;
    border: 1px;
}

.button:hover .upSide {}

.upSide img {
    max-width: 150%;
    height: 100%;
}

.upSide {
    justify-content: center;
    align-items: center;
    display: flex;
}

.floor-number-container {
    border: none;
    box-shadow: 8px 7px 44px 38px rgba(0,0,0,0.1);
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.floor-number-label {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.color-white {
    color: white;
}

.maintenance-mode-container {
    margin: 10px 0;
}

.maintenance-mode-item {
    margin: 0 17px;
}

.font-weight-500 {
    font-weight: 500;
}